/* line 5, ../scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 9, ../scss/main.scss */
*:focus {
  outline: none;
}

/* line 13, ../scss/main.scss */
a:focus {
  outline: none;
}

@media (min-width: 768px) {
  /* line 18, ../scss/main.scss */
  ::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    height: auto;
    border: transparent;
  }

  /* line 19, ../scss/main.scss */
  ::-webkit-scrollbar {
    background-color: #ccc;
    height: 10px !important;
    width: 5px !important;
    border: 5px solid #eeeeee;
  }
}
/* ---------- TYPOGRAPHY ---------- */
/* line 24, ../scss/main.scss */
body {
  font-family: "Lato", Helvetiva, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

/* line 33, ../scss/main.scss */
h1 {
  font-size: 36px;
  text-align: center;
  margin: 20px 0 10px 0;
  line-height: 1.2em;
}

/* line 40, ../scss/main.scss */
h2 {
  font-size: 24px;
  font-style: italic;
  color: #cf1f25;
  margin: 10px 0 15px;
}

/* line 47, ../scss/main.scss */
h3 {
  font-weight: 700;
}

/* line 51, ../scss/main.scss */
a, a:visited, a:active, a:focus {
  color: #cf1f25;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 55, ../scss/main.scss */
a:hover {
  color: #a50a16;
  text-decoration: none;
}

/* ---------- GLOBAL ELEMENTS ---------- */
/* line 67, ../scss/main.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 72, ../scss/main.scss */
body {
  background: #cf1f25 url("../img/bg.jpg") no-repeat center fixed;
  background-size: cover;
  overflow-x: hidden;
}

/* line 78, ../scss/main.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 83, ../scss/main.scss */
.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 40px 70px;
  overflow: hidden;
}
/* line 89, ../scss/main.scss */
.wrapper.form-wrapper {
  height: 100%;
  padding: 0;
  overflow: auto;
}

/* ---------- BUTTONS ---------- */
/* line 98, ../scss/main.scss */
.btn-wrapper {
  width: 225px;
  margin: 0 auto;
}

/* line 103, ../scss/main.scss */
.fb-btn {
  width: 75px;
  float: left;
}

/* line 108, ../scss/main.scss */
.li-btn {
  width: 140px;
  float: left;
  padding-top: 4px;
  margin-left: 10px;
}

/* ---------- PAGE LOADER ---------- */
/* line 118, ../scss/main.scss */
#page-loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: white;
}
/* line 127, ../scss/main.scss */
#page-loader .page-loader-inner {
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #E4E4E4;
  font-size: 50px;
}

/* ---------- FORM ---------- */
/* line 140, ../scss/main.scss */
#form-outer {
  width: 800px;
  height: 630px;
  margin: 0 auto;
  background: white;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 147, ../scss/main.scss */
#form-outer .form-header {
  width: 100%;
  text-align: center;
  padding: 25px;
  border-bottom: 1px solid #e6e6e6;
}
/* line 152, ../scss/main.scss */
#form-outer .form-header .autocomplete-btns {
  margin: 25px 0 0;
}
/* line 156, ../scss/main.scss */
#form-outer .form-content {
  padding: 20px 25px;
}

/* line 162, ../scss/main.scss */
.no-csstransforms #form {
  top: 40px;
}

/* line 166, ../scss/main.scss */
.form-btns {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
/* line 170, ../scss/main.scss */
.form-btns button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  text-align: center;
  padding: 10px 30px;
  font-weight: 700;
  margin-right: 15px;
}
/* line 179, ../scss/main.scss */
.form-btns button:focus {
  outline: none;
}
/* line 182, ../scss/main.scss */
.form-btns button[type='submit'] {
  background: #4d4d4d;
  color: white;
}
/* line 186, ../scss/main.scss */
.form-btns button[type='reset'] {
  background: transparent;
  border: 1px solid #cccccc;
  color: #4d4d4d;
}

/* ---------- INPUT FIELDS ---------- */
/* line 1, ../scss/_inputs.scss */
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

/* line 9, ../scss/_inputs.scss */
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  color: #aaa;
  font-weight: bold;
  font-family: "Lato", Helvetiva, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
  text-overflow: ellipsis;
}

/* line 23, ../scss/_inputs.scss */
.input__field:focus {
  outline: none;
}

/* line 27, ../scss/_inputs.scss */
.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #cccccc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 43, ../scss/_inputs.scss */
.input__label-content {
  position: relative;
  display: block;
  padding: 1.9em 0 1em;
  width: 100%;
}

/* line 50, ../scss/_inputs.scss */
.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

/* line 57, ../scss/_inputs.scss */
.input--hoshi {
  overflow: hidden;
}

/* line 61, ../scss/_inputs.scss */
.input__field--hoshi {
  padding: 1em 0.15em 1.7em;
  width: 100%;
  background: transparent;
  color: #4d4d4d;
}

/* line 68, ../scss/_inputs.scss */
.input__label--hoshi {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.25em;
  width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none;
  margin-bottom: 1em;
}
/* line 79, ../scss/_inputs.scss */
.input__label--hoshi i {
  pointer-events: all;
}

/* line 85, ../scss/_inputs.scss */
.input__label-content--hoshi {
  position: absolute;
}

/* line 90, ../scss/_inputs.scss */
.input__label--hoshi::before,
.input__label--hoshi::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 2px solid #cccccc;
}

/* line 100, ../scss/_inputs.scss */
.input__label--hoshi::after {
  margin-top: 2px;
  border-bottom: 4px solid #cccccc;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

/* line 109, ../scss/_inputs.scss */
.input__label--hoshi-color-1::after {
  border-color: #00aaff;
}

/* line 113, ../scss/_inputs.scss */
.input__label--hoshi-color-2::after {
  border-color: #00ffaa;
}

/* line 117, ../scss/_inputs.scss */
.input__label--hoshi-color-3::after {
  border-color: #ff5500;
}

/* line 121, ../scss/_inputs.scss */
.icon-required {
  color: #cf1f25;
}

/* line 126, ../scss/_inputs.scss */
.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 132, ../scss/_inputs.scss */
.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
  font-size: 80%;
}

@-webkit-keyframes anim-1 {
  /* line 139, ../scss/_inputs.scss */
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }

  /* line 144, ../scss/_inputs.scss */
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, 60%, 0);
    transform: translate3d(-1em, 60%, 0);
  }

  /* line 149, ../scss/_inputs.scss */
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 60%, 0);
    transform: translate3d(0, 60%, 0);
  }
}

@keyframes anim-1 {
  /* line 157, ../scss/_inputs.scss */
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }

  /* line 162, ../scss/_inputs.scss */
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, 60%, 0);
    transform: translate3d(-1em, 60%, 0);
  }

  /* line 167, ../scss/_inputs.scss */
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 60%, 0);
    transform: translate3d(0, 60%, 0);
  }
}

/* line 198, ../scss/main.scss */
div.error {
  position: absolute;
  z-index: 99;
  font-size: 14px;
  top: -5px;
  font-weight: 700;
  color: #cf1f25;
}

/* line 207, ../scss/main.scss */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: transparent;
}

/* ---------- RESULTS ---------- */
/* line 213, ../scss/main.scss */
#results {
  position: relative;
  top: 100px;
  width: 100%;
  min-height: 100%;
  min-height: calc(100% - 100px);
  background-color: white;
}

/* line 222, ../scss/main.scss */
.results-ad-logo {
  position: absolute;
  top: -75px;
  width: 100%;
  text-align: center;
}
/* line 228, ../scss/main.scss */
.results-ad-logo svg path {
  fill: white;
}

/* line 234, ../scss/main.scss */
.results-header {
  padding: 10px;
  border: 1px solid #e6e6e6;
  text-align: center;
}
/* line 238, ../scss/main.scss */
.results-header h1 {
  display: inline-block;
}
/* line 240, ../scss/main.scss */
.results-header h1 span {
  font-weight: 700;
}
/* line 244, ../scss/main.scss */
.results-header .redo-btn {
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
}

/* line 252, ../scss/main.scss */
#results-tabs .tab-menu {
  text-align: center;
  padding: 25px 0;
}
/* line 255, ../scss/main.scss */
#results-tabs .tab-menu .tab-menu-item {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  margin-right: 15px;
  width: 175px;
  background: transparent;
  border: 1px solid #cccccc;
}
/* line 263, ../scss/main.scss */
#results-tabs .tab-menu .tab-menu-item.active {
  background: #4d4d4d;
  border-color: #4d4d4d;
}
/* line 266, ../scss/main.scss */
#results-tabs .tab-menu .tab-menu-item.active a {
  color: white;
}
/* line 270, ../scss/main.scss */
#results-tabs .tab-menu .tab-menu-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  color: #4d4d4d;
}

/* line 281, ../scss/main.scss */
.tab-content-item {
  width: 100%;
  pointer-events: none;
}
/* line 284, ../scss/main.scss */
.tab-content-item.active {
  pointer-events: all;
}

/* line 289, ../scss/main.scss */
.col-results-visual {
  margin: 20px 0 30px;
}
/* line 292, ../scss/main.scss */
.col-results-visual .results-dl-btn {
  text-align: center;
}

/* line 297, ../scss/main.scss */
.results-visual {
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
  overflow: auto;
  line-height: 1;
  border: 1px solid #cccccc;
  font: initial;
}
/* line 306, ../scss/main.scss */
.results-visual td, .results-visual tr {
  vertical-align: middle !important;
}

/* line 311, ../scss/main.scss */
.dl-btn {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 10px 30px;
  background: transparent;
  border: 1px solid #cccccc;
  color: #4d4d4d;
}

/* line 321, ../scss/main.scss */
.results-code {
  width: 100%;
  height: 400px;
  background: transparent;
  border: 1px solid #cccccc;
  color: #4d4d4d;
  overflow: auto;
  font-size: 12px;
  position: relative;
}
/* line 331, ../scss/main.scss */
.results-code xmp {
  margin: 0;
}

/* line 337, ../scss/main.scss */
.copy-button-wrapper {
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 0;
}

/* line 344, ../scss/main.scss */
.copy-button-prompt {
  background: #cf1f25;
  padding: 4px;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  width: 140px;
  position: absolute;
  top: -45px;
  right: -7px;
  display: none;
}
/* line 356, ../scss/main.scss */
.copy-button-prompt:after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 7px solid #cf1f25;
}

/* line 370, ../scss/main.scss */
.copy-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #4d4d4d;
  color: white;
  border: none;
  font-size: 14px;
  padding-right: 6px;
}

/* line 382, ../scss/main.scss */
.steps .steps-needed {
  width: 100%;
  min-height: 200px;
  background: #F2F2F2;
  padding: 25px;
  line-height: 1.8em;
}
/* line 388, ../scss/main.scss */
.steps .steps-needed .steps-hint {
  font-size: 16px;
  color: #cccccc;
  margin-top: 15px;
}
/* line 394, ../scss/main.scss */
.steps .step-item {
  margin-bottom: 40px;
}
/* line 397, ../scss/main.scss */
.steps .step-item h2 i {
  color: #4d4d4d;
  margin-left: 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 401, ../scss/main.scss */
.steps .step-item h2 i:hover {
  color: #cf1f25;
}

/* line 409, ../scss/main.scss */
.popup-container {
  position: relative;
  background: white;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}
/* line 415, ../scss/main.scss */
.popup-container .popup-image {
  width: 100%;
  border-bottom: 10px solid #e6e6e6;
}
/* line 419, ../scss/main.scss */
.popup-container .popup-text {
  padding: 25px;
}

/* line 425, ../scss/main.scss */
#hidden-results {
  display: none;
}

@-webkit-keyframes fadeIn {
  /* line 431, ../scss/main.scss */
  0% {
    opacity: .75;
    left: -1em;
  }

  /* line 432, ../scss/main.scss */
  100% {
    opacity: 1;
    left: 0;
  }
}

@-moz-keyframes fadeIn {
  /* line 435, ../scss/main.scss */
  0% {
    opacity: .75;
    left: -1em;
  }

  /* line 436, ../scss/main.scss */
  100% {
    opacity: 1;
    left: 0;
  }
}

@-o-keyframes fadeIn {
  /* line 439, ../scss/main.scss */
  0% {
    opacity: .75;
    left: -1em;
  }

  /* line 440, ../scss/main.scss */
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  /* line 443, ../scss/main.scss */
  0% {
    opacity: .75;
    left: -1em;
  }

  /* line 444, ../scss/main.scss */
  100% {
    opacity: 1;
    left: 0;
  }
}

/* line 447, ../scss/main.scss */
.popup-container {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
  -ms-animation-duration: .25s;
  -o-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

/* ---------- PRETTIFY ---------- */
/* line 470, ../scss/main.scss */
.prettyprint {
  padding: 20px;
  background: #edf0f3;
}
/* line 474, ../scss/main.scss */
.prettyprint .pln {
  color: #888888;
}
/* line 477, ../scss/main.scss */
.prettyprint .tag {
  color: #5D6C7B;
}
/* line 480, ../scss/main.scss */
.prettyprint .atn {
  color: #225588;
}
/* line 483, ../scss/main.scss */
.prettyprint .atv, .prettyprint .str, .prettyprint .typ, .prettyprint .lit, .prettyprint .pun, .prettyprint .com {
  color: #BE516E;
}
