/* line 5, ../scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 9, ../scss/main.scss */
*:focus {
  outline: none;
}

/* line 13, ../scss/main.scss */
a:focus {
  outline: none;
}

@media (min-width: 768px) {
  /* line 18, ../scss/main.scss */
  ::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    height: auto;
    border: transparent;
  }

  /* line 19, ../scss/main.scss */
  ::-webkit-scrollbar {
    background-color: #ccc;
    height: 10px !important;
    width: 5px !important;
    border: 5px solid #eeeeee;
  }
}
/* ---------- TYPOGRAPHY ---------- */
/* line 24, ../scss/main.scss */
body {
  font-family: "Lato", Helvetiva, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

/* line 33, ../scss/main.scss */
h1 {
  font-size: 36px;
  text-align: center;
  margin: 20px 0 10px 0;
  line-height: 1.2em;
}

/* line 40, ../scss/main.scss */
h2 {
  font-size: 24px;
  font-style: italic;
  color: #cf1f25;
  margin: 10px 0 15px;
}

/* line 47, ../scss/main.scss */
h3 {
  font-weight: 700;
}

/* line 51, ../scss/main.scss */
a, a:visited, a:active, a:focus {
  color: #cf1f25;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 55, ../scss/main.scss */
a:hover {
  color: #a50a16;
  text-decoration: none;
}

/* ---------- GLOBAL ELEMENTS ---------- */
/* line 67, ../scss/main.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 72, ../scss/main.scss */
body {
  background: #cf1f25 url("../img/bg.jpg") no-repeat center fixed;
  background-size: cover;
  overflow-x: hidden;
}

/* line 78, ../scss/main.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 83, ../scss/main.scss */
.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 40px;
}
/* line 88, ../scss/main.scss */
.wrapper.form-wrapper {
  height: 100%;
  padding: 0;
}

/* ---------- BUTTONS ---------- */
/* line 96, ../scss/main.scss */
.btn-wrapper {
  width: 225px;
  margin: 0 auto;
}

/* line 101, ../scss/main.scss */
.fb-btn {
  width: 75px;
  float: left;
}

/* line 106, ../scss/main.scss */
.li-btn {
  width: 140px;
  float: left;
  padding-top: 4px;
  margin-left: 10px;
}

/* ---------- FORM ---------- */
/* line 116, ../scss/main.scss */
#form-outer {
  width: 800px;
  height: 630px;
  margin: 0 auto;
  background: white;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 123, ../scss/main.scss */
#form-outer .form-header {
  width: 100%;
  text-align: center;
  padding: 25px;
  border-bottom: 1px solid #e6e6e6;
}
/* line 128, ../scss/main.scss */
#form-outer .form-header .autocomplete-btns {
  margin: 25px 0 0;
}
/* line 132, ../scss/main.scss */
#form-outer .form-content {
  padding: 20px 25px;
}

/* line 138, ../scss/main.scss */
.no-csstransforms #form {
  top: 40px;
}

/* line 142, ../scss/main.scss */
.form-btns {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
/* line 146, ../scss/main.scss */
.form-btns button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  text-align: center;
  padding: 10px 30px;
  font-weight: 700;
  margin-right: 15px;
}
/* line 155, ../scss/main.scss */
.form-btns button:focus {
  outline: none;
}
/* line 158, ../scss/main.scss */
.form-btns button[type='submit'] {
  background: #4d4d4d;
  color: white;
}
/* line 162, ../scss/main.scss */
.form-btns button[type='reset'] {
  background: transparent;
  border: 1px solid #cccccc;
  color: #4d4d4d;
}

/* ---------- INPUT FIELDS ---------- */
/* line 1, ../scss/_inputs.scss */
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

/* line 9, ../scss/_inputs.scss */
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  color: #aaa;
  font-weight: bold;
  font-family: "Lato", Helvetiva, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
  text-overflow: ellipsis;
}

/* line 23, ../scss/_inputs.scss */
.input__field:focus {
  outline: none;
}

/* line 27, ../scss/_inputs.scss */
.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #cccccc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 43, ../scss/_inputs.scss */
.input__label-content {
  position: relative;
  display: block;
  padding: 1.9em 0 1em;
  width: 100%;
}

/* line 50, ../scss/_inputs.scss */
.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

/* line 57, ../scss/_inputs.scss */
.input--hoshi {
  overflow: hidden;
}

/* line 61, ../scss/_inputs.scss */
.input__field--hoshi {
  padding: 1em 0.15em 1.7em;
  width: 100%;
  background: transparent;
  color: #4d4d4d;
}

/* line 68, ../scss/_inputs.scss */
.input__label--hoshi {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.25em;
  width: 100%;
  height: 100%;
  text-align: left;
  margin-bottom: 1em;
}

/* line 80, ../scss/_inputs.scss */
.input__label-content--hoshi {
  position: absolute;
}

/* line 85, ../scss/_inputs.scss */
.input__label--hoshi::before,
.input__label--hoshi::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 2px solid #cccccc;
}

/* line 95, ../scss/_inputs.scss */
.input__label--hoshi::after {
  margin-top: 2px;
  border-bottom: 4px solid #4d4d4d;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

/* line 104, ../scss/_inputs.scss */
.input__label--hoshi-color-1::after {
  border-color: #00aaff;
}

/* line 108, ../scss/_inputs.scss */
.input__label--hoshi-color-2::after {
  border-color: #00ffaa;
}

/* line 112, ../scss/_inputs.scss */
.input__label--hoshi-color-3::after {
  border-color: #ff5500;
}

/* line 116, ../scss/_inputs.scss */
.icon-required {
  color: #cf1f25;
}

/* line 121, ../scss/_inputs.scss */
.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 127, ../scss/_inputs.scss */
.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
  font-size: 80%;
}

@-webkit-keyframes anim-1 {
  /* line 134, ../scss/_inputs.scss */
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }

  /* line 139, ../scss/_inputs.scss */
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, 60%, 0);
    transform: translate3d(-1em, 60%, 0);
  }

  /* line 144, ../scss/_inputs.scss */
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 60%, 0);
    transform: translate3d(0, 60%, 0);
  }
}

@keyframes anim-1 {
  /* line 152, ../scss/_inputs.scss */
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }

  /* line 157, ../scss/_inputs.scss */
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, 60%, 0);
    transform: translate3d(-1em, 60%, 0);
  }

  /* line 162, ../scss/_inputs.scss */
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 60%, 0);
    transform: translate3d(0, 60%, 0);
  }
}

/* line 174, ../scss/main.scss */
div.error {
  position: absolute;
  z-index: 99;
  font-size: 14px;
  top: -5px;
  font-weight: 700;
  color: #cf1f25;
}

/* line 183, ../scss/main.scss */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: transparent;
}

/* ---------- RESULTS ---------- */
/* line 189, ../scss/main.scss */
#results {
  position: relative;
  top: 100px;
  width: 100%;
  min-height: 100%;
  min-height: calc(100% - 100px);
  background-color: white;
}

/* line 198, ../scss/main.scss */
.results-ad-logo {
  position: absolute;
  top: -75px;
  width: 100%;
  text-align: center;
}
/* line 204, ../scss/main.scss */
.results-ad-logo svg path {
  fill: white;
}

/* line 210, ../scss/main.scss */
.results-header {
  padding: 10px;
  border: 1px solid #e6e6e6;
  text-align: center;
}
/* line 214, ../scss/main.scss */
.results-header h1 {
  display: inline-block;
}
/* line 216, ../scss/main.scss */
.results-header h1 span {
  font-weight: 700;
}
/* line 220, ../scss/main.scss */
.results-header .redo-btn {
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
}

/* line 228, ../scss/main.scss */
#results-tabs .tab-menu {
  text-align: center;
  padding: 25px 0;
}
/* line 231, ../scss/main.scss */
#results-tabs .tab-menu .tab-menu-item {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  margin-right: 15px;
  width: 175px;
  background: transparent;
  border: 1px solid #cccccc;
}
/* line 239, ../scss/main.scss */
#results-tabs .tab-menu .tab-menu-item.active {
  background: #4d4d4d;
  border-color: #4d4d4d;
}
/* line 242, ../scss/main.scss */
#results-tabs .tab-menu .tab-menu-item.active a {
  color: white;
}
/* line 246, ../scss/main.scss */
#results-tabs .tab-menu .tab-menu-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 30px;
  color: #4d4d4d;
}

/* line 257, ../scss/main.scss */
.tab-content-item {
  width: 100%;
  pointer-events: none;
}
/* line 260, ../scss/main.scss */
.tab-content-item.active {
  pointer-events: all;
}

/* line 265, ../scss/main.scss */
.col-results-visual {
  margin-bottom: 30px;
}
/* line 268, ../scss/main.scss */
.col-results-visual .results-dl-btn {
  text-align: center;
}

/* line 273, ../scss/main.scss */
.results-visual {
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
  overflow: auto;
}

/* line 280, ../scss/main.scss */
.dl-btn {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 10px 30px;
  background: transparent;
  border: 1px solid #cccccc;
  color: #4d4d4d;
}

/* line 290, ../scss/main.scss */
.results-code {
  width: 100%;
  min-height: 200px;
  background: transparent;
  border: 1px solid #cccccc;
  color: #4d4d4d;
  overflow: auto;
  max-height: 400px;
  font-size: 12px;
  position: relative;
}
/* line 301, ../scss/main.scss */
.results-code xmp {
  margin: 0;
}

/* line 307, ../scss/main.scss */
#copy-button {
  position: absolute;
  right: 0;
  top: -1px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 1px solid #cccccc;
  font-size: 14px;
}

/* line 320, ../scss/main.scss */
.steps .steps-needed {
  width: 100%;
  min-height: 200px;
  background: #F2F2F2;
  padding: 25px;
  line-height: 1.8em;
}
/* line 326, ../scss/main.scss */
.steps .steps-needed .steps-hint {
  font-size: 16px;
  color: #cccccc;
  margin-top: 15px;
}
/* line 332, ../scss/main.scss */
.steps .step-item {
  margin-bottom: 40px;
}
/* line 335, ../scss/main.scss */
.steps .step-item h2 i {
  color: #4d4d4d;
  margin-left: 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 339, ../scss/main.scss */
.steps .step-item h2 i:hover {
  color: #cf1f25;
}

/* line 347, ../scss/main.scss */
.popup-container {
  position: relative;
  background: white;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}
/* line 353, ../scss/main.scss */
.popup-container .popup-image {
  width: 100%;
  border-bottom: 10px solid #e6e6e6;
}
/* line 357, ../scss/main.scss */
.popup-container .popup-text {
  padding: 25px;
}

/* line 363, ../scss/main.scss */
#hidden-results {
  display: none;
}
